*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#nav{
    width: 100%;
    background-color: black;
}
.Li2{
    text-decoration: none;
    color: gold;
    list-style: none;
    font-size: 25px;
    padding: 25px;
}
#ul{
    display: flex;
    justify-content: space-around;
}
.Li2:hover{
    background-color: gold;
    color: black;
}
.Li1{
    text-decoration: none;
    color: gold;
    list-style: none;
    font-size: 25px;
    padding: 25px;
}
