.xaz{
    width: 200px;
    height: 200px;
    background-image: url(./img/1.jpg);
    background-size: cover;
}
.realakan{
    width: 200px;
    height: 200px;
    background-image: url(./img/2.jpg);
    background-size: cover;
}
.mshakuyt{
    width: 200px;
    height: 200px;
    background-image: url(./img/3.jpg);
    background-size: cover;
}
.masin{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.real{
    text-align: center;
}
.a1:hover{
    transition: 1s;
    font-size: 11px;
    color: black;
    text-decoration: none;
}
.a1{
    font-size: 12px;
}